* {
    font-family: sans-serif, Verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #363636;
}

#wrapper {
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: purple;
    padding: 1em;
    /* The page's primary grid */
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 125px 50px minmax(650px, auto) minmax(100px, auto);
    gap: 1em;
}

header {
    background-color: lightgrey;
    grid-area: header;
    width: 100%;
    height: 125px;
    /* The header's sub grid */
    display: grid;
    grid-template-areas:
    "logo company company company";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

header p {
grid-area: logo;
background-color: lightyellow;
margin: 0.25em;
}

header h1 {
    grid-area: company;
}

nav {
    background-color: white;
    grid-area: nav;
    width: 100%;
    height: 50px;
}

nav ul {
    list-style: none;
    /* The nav ul's flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 1em 4.6em;
}

nav a:hover {
    color: white;
    background-color: #1565C0;
}

main {
    background-color: blue;
    grid-area: main;
    width: 100%;
    min-height: 650px;
    padding: 1em;
    /* The main's sub grid */
    display: grid;
    grid-template-areas:
    "aside article1";
    grid-template-columns: 2fr 3fr;
    gap: 1em;
}

main article {
grid-area: article1;
background-color: lightblue;
}

aside {
grid-area: aside;
background-color: white;
}

footer {
    background-color: pink;
    grid-area: footer;
    width: 100%;
    min-height: 100px;
    padding: 1em;
    /* The footer's sub grid */
    display: grid;
    grid-template-areas:
    "p h2";
    grid-template-columns: 2fr 3fr;
    gap: 1em;
}

footer p {
    grid-area: p;
    background-color: lightgrey;
}

footer h2 {
    grid-area: h2;
    background-color: lightyellow;
}