* {
    font-family: sans-serif, Verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #363636;
}

#wrapper {
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: white;
    /* The page's primary grid */
    display: grid;
    grid-template-areas:
}

header {
    background-color: white;
}

nav {
    background-color: pink;
}

main {
    background-color: white;
}

footer {
    background-color: pink;
}