* {
    font-family: sans-serif, Verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #363636;
}

#wrapper {
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: white;
    /* The page's primary grid */
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px minmax(650px, auto) minmax(100px, auto);
}

header {
    background-color: white;
    grid-area: header;
    width: 100%;
    height: 100px;
    /* The header's sub grid */
    display: grid;
    grid-template-areas:
    "logo company company company";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

header p {
grid-area: logo;
}

header h1 {
    grid-area: company;
    background-color: lightgrey;
}

nav {
    background-color: pink;
    grid-area: nav;
    width: 100%;
    height: 50px;
}

main {
    background-color: white;
    grid-area: main;
    width: 100%;
    min-height: 650px;
    /* The main's sub grid */
    display: grid;
    grid-template-areas:
    "aside article1";
    grid-template-columns: 2fr 3fr;
    gap: 1em;
}

#content1 {
grid-area: article1;
background-color: lightblue;
}

aside {
grid-area: aside;
}

footer {
    background-color: pink;
    grid-area: footer;
    width: 100%;
    min-height: 100px;
}